/*
 *  App colour scheme:
 *  Role          Colour name    Hex code   HSL code
 *  ------------  -------------  --------   -------------------
 *  Primary       Ink            #0A0F1C    hsl(223,  47%,  7%)
 *  Secondary     Perano         #AAAAFF    hsl(240, 100%, 83%)
 *  Background    Corn Silk      #FFFAE3    hsl( 49, 100%, 95%)
 *  Accent        Guardsman Red  #BA0000    hsl(  0, 100%, 36%)
*/

/* ========================== App colour scheme =========================== */
:root {
    --ink: #0A0F1C;
    --perano: #AAAAFF;
    --corn-silk: #FFFAE3;
    --guardsman-red: #BA0000;
}

/* ============================ Generic styles ============================ */
.bigger { font-size: 150%; }

.smaller { font-size: 75%; }

/* =============================== Viewport =============================== */
:root {
    width: 100vw;
    height: 100vh;
}

body, #root, #root > *:first-child {
    width: 100%;
    height: 100%;
    margin: 0;
}

#root > *:first-child {
    padding: 1%;
}

body {
    overflow: hidden;
}

body > * {
    box-sizing: border-box;
    font-family: Questrial, Poppins, Arial, sans-serif; 
}

/* ============================== Background ============================== */
#quiz-page-bg {
    position: absolute;
    top: -25vw;
    left: -25vw;
    width: 150vw;
    height: 150vh;
    z-index: -1;
}


/* =========================== Question textbox =========================== */
.question-textbox {
    display: block;
    font-size: 200%;
    width: 100%;
    padding: 1em 5%;
    margin: 6px 0;
    text-align: center;
    border-radius: 6px;
    border: 1px solid var(--ink);
    background-color: var(--perano);
}

/* =============================== Buttons ================================ */
.quiz-option-button, .submit-button {
    display: block;
    width: 100%;
    padding: 10px 14px;
    margin: 6px 0;
    text-align: left;
    border-radius: 6px;
}

.submit-button {
    cursor: pointer;
    position: relative;
    border: 1px solid grey;
}

/* ============================ Progress bars ============================= */
.pbars {
    display: flex;
    flex-direction: column;
    color: var(--corn-silk);
}

.pbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: min-content;
    box-sizing: border-box;
    padding-left: 1%;
    padding-right: 1%;
}

.xp-pbar { 
    composes: pbar;
    font-size: 75%; 
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    border-bottom: 1px solid hsl(from var(--ink) h s 20%);
}

.quiz-pbar { 
    composes: pbar;
    margin-bottom: 6px; 
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 3px solid hsl(from var(--ink) h s 20%);
}

.pbar-left-text {
    text-align: left;
}

.pbar-right-text {
    text-align: left;
}

/* =========================== Congratulations ============================ */
.congrats-block {
    background-color: var(--perano);
    color: var(--ink);
    display: flex;
    flex-direction: column;
    font-size: 125%;
    align-items: center;
    justify-content: center;
}

.congrats-block > *:not(*:last-child) {
    margin-bottom: 1%;
}

.congrats-fraction {
    font-weight: bold;
}

.congrats-percentage {
    font-weight: bold;
}

